@inherits LayoutComponentBase

<PageTitle>Taf.Core.Net.Web</PageTitle>

<div class="page">
    <Layout SideWidth="0" IsFullSide="true" ShowFooter="true" ShowCollapseBar="true" class="layout-menu-demo"
                   Menus="IconSideMenuItems">
        <Header>
              <div class="menu-demo-header">
                        我是网站标题
                    </div>
        </Header>
        <Side>
            <div class="layout-banner">
                <img class="layout-logo" src="icons/girl.png"/>
                <div class="layout-title">
                    <span>IKE数据管理中心</span>
                </div>
            </div>
        </Side>
        <Main>
            <div  style="padding: 10rem 1rem;">@Body</div>

        </Main>
        <Footer>
            <div class="text-center footer">Footer</div>
        </Footer>
    </Layout>
</div>