<div >
    <div class="container-fluid">
        <a class="navbar-brand" href="">IKE数据管理中心</a>
    </div>
</div>

<div>
    <Menu Items="@IconSideMenuItems" DisableNavigation="true" IsVertical="true"  />
</div>
